.smallInput input {
	width: 30vw;
}

.smallInput label {
	margin-right: .5rem
}

.smallInput {
	margin-bottom: 1rem;
}

.wrapper {
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
}

.encryptBtn {
	width: fit-content;
	padding: .5rem;
	font-size: 105%;
	border: none;
	border-radius: .5rem;
	color: darkblue;
}