/*Nav styles should be ok just working on tags*/

nav ul {
  list-style: none;
  padding: unset;
  display: flex;
}

nav ul li {
  margin: 1rem;
  padding: .3rem;
  border: solid black .1rem;
  border-radius: .5rem;
}

.link {
  text-decoration: none;
}